@import'common.scss';
@import'myscss.scss';
* {
    @include sizing;
    text-decoration: none;
}

.wrap {
    @include num(100%, 100%);
    display: flex;
    flex-direction: column;
}

header {
    @include num(100%, pr(136px/2));
    border-bottom: 15px solid #ccc;
    @include flex(center);
    span {
        font-size: pr(16px);
        padding: 0 pr(10px);
    }
    .icon {
        font-size: pr(14px);
        color: #ccc;
    }
}

section {
    flex: 1;
    overflow-y: auto;
    .shopmes {
        @include num(100%, pr(250px));
        .shopmes-top {
            @include num(100%, pr(65px));
            border-bottom: 1px solid #ccc;
            padding: 0 pr(10px);
            @include flex;
            >div {
                b {
                    font-size: pr(14px);
                    margin-left: pr(10px);
                }
            }
            span {
                font-size: pr(14px);
                color: #FE4892;
            }
        }
        .shopmes-bot {
            @include num(100%, pr(370px/2));
            @include flex;
            dl {
                @include num(100%, pr(190px));
                border-bottom: 1px solid #ccc;
                @include flex;
                dd {
                    flex: 4;
                    @include num(100%, 100%);
                    @include flex(center);
                    img {
                        @include num(pr(150px), auto);
                    }
                }
                dt {
                    flex: 6;
                    @include num(100%, 100%);
                    @include flex;
                    .m-shop-left {
                        flex: 7;
                        @include num(100%, 100%);
                        @include flex;
                        flex-direction: column;
                        padding: pr(20px) 0;
                        .m-shop-left-top {
                            flex: 1;
                            @include num(100%, 100%);
                            h2 {
                                font-size: pr(15px);
                            }
                            span {
                                font-size: pr(14px);
                                color: #ccc;
                                margin-top: pr(10px);
                            }
                            img {
                                @include num(auto, pr(18px));
                                display: block;
                                margin-top: pr(10px);
                            }
                        }
                        .m-shop-left-bot {
                            flex: 1;
                            @include num(100%, 100%);
                            @include flex(flex-end);
                            flex-direction: column;
                            align-items: flex-start;
                            span {
                                font-size: pr(12px);
                                color: #FE4892;
                            }
                            div {
                                em {
                                    b {
                                        color: #FEDD74;
                                        font-size: pr(12px);
                                        &:nth-child(2) {
                                            font-size: pr(16px);
                                        }
                                    }
                                }
                                u {
                                    padding: pr(2px) pr(1px);
                                    background: #FEDD74;
                                    color: #eee;
                                    font-size: pr(10px);
                                    margin-left: pr(8px);
                                }
                            }
                        }
                    }
                    .m-shop-right {
                        flex: 3;
                        @include num(100%, 100%);
                        @include flex(center);
                        align-items: flex-end;
                        button {
                            @include cir(pr(20px));
                            @include cen(pr(20px));
                            background: #FE4892;
                            color: #fff;
                            font-size: pr(16px);
                            margin-bottom: pr(30px);
                            border: 0;
                            outline: 0;
                        }
                        span {
                            margin-bottom: pr(30px);
                            padding: 0 pr(5px);
                        }
                    }
                }
            }
        }
    }
    .jiesuan {
        @include num(100%, 100%);
        li {
            @include num(100%, pr(154px/3));
            padding: 0 pr(10px);
            border-bottom: 1px solid #ccc;
            @include flex;
            span {
                font-size: pr(16px);
            }
        }
    }
}

footer {
    ul {
        @include num(100%, pr(60px));
        border-top: 1px solid #ccc;
        @include flex;
        padding: 0 pr(10px);
        background: #FFFFFF;
        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        li.active {
            color: #FF65AD;
        }
    }
}